@import "tailwindcss";

@theme {
  --animate-loading-bar: loadingBar 1.5s infinite ease-in-out;

  @keyframes loadingBar {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }
}
